.root {
 @apply p-3 rounded-2xl text-primary;
 font-family: 'Averta-Semibold', sans-serif;
}

.filled {
 @apply bg-primary;
}

.outline {
 @apply border border-secondary;
}

.clear {
 @apply px-1;
}

.primary {
 @apply text-primary;
}

.warning {
 @apply border border-red text-red;
}

.accent {
 @apply border-accents-3;
}

.transparent {
 @apply bg-primary-transparent;
}

.slim {
 @apply text-xs;
 font-family: 'Averta', sans-serif;
 font-weight: 600;
}
